.header{
  border: 2px solid ;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 10vh;
  padding: 10px;
}

.listbox{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap:20px;
  width: 100%;
  padding: 10px;
  
}

.props{
  border: 2px solid gray;
  border-radius: 15px;
  text-align: center;
  width: 10%;
  overflow: auto;
  
}

.main{
  height: 100vh;
  width: 100vw;
  background-color: rgb(76, 97, 97);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


